header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3),rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./img/download.jpeg)!important;
    height: 100vh;
    width: 192vh;
    background-position: center;
    background-repeat: no-repeat;
}
.form-control{
    background-color:transparent;
    color: white;
}
label{
    color: white;
}
.navbar{
    background-color:transparent!important;
    height: 5vh;
}

#logo{
    padding: 30px;
    height: 20vh;
}
.text{
    color: rgb(0, 0, 8) !important;
}
.pics{
    /* background-color: turquoise; */
    width: 20%;
}
.pics img{
    border-radius: 80%;
    width: 100%;
    padding-top: 30px;
}
#pics2{
    margin-left:20px;
}